
.js .image_info .edit {
	display: none;
}
.js .image_info .view {
	display: block;
}

.no-js .image_info .edit {
	display: block;
}
.no-js .image_info .view {
	display: none;
}

TABLE.image_info{
    width: auto;
    min-width: 300px;
    max-width: 600px;
}